<li id="<%= dom_id(task) %>" data-controller="task" data-quest-id="<%= task.quest_id %>" data-task-id="<%= task.id %>" class="py-4 border-b border-gray-200 dark:border-gray-700">
  <div class="flex items-center px-4 space-x-4 justify-between">

    <!-- Check box-->
    <input type="checkbox" class="mr-2 rounded" data-action="task#toggleCompleted" <%= task.status ? 'checked' : '' %> />
    <!-- List Item Text -->
    <button 
      type="button" 
      class="flex-1 min-w-0 text-left p-0 m-0 focus:outline-none w-full">
      <span><%= task.task %></span>
    </button>

    <!-- Delete Button -->
    <%= button_to quest_task_path(task.quest, task), method: :delete, form: { data: { turbo: "true" } } do %>
      <svg class="w-6 h-6 text-red-500 dark:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
      </svg>
    <% end %>
  </div>
</li>

