<div class="flex justify-between items-center mb-4">
  <h2 class="text-3xl font-bold"><%= Date.today.strftime("%B %Y") %></h2>
</div>

<div class="bg-gray-50 dark:bg-gray-800 p-4 rounded-lg shadow-lg">
  <%= month_calendar events: @quests, class: "w-full" do |date, quests| %>
    <div class="w-full pb-[100%] relative">
      <div class="absolute inset-0 flex flex-col p-1 overflow-hidden <%= 'opacity-50' unless date.between?(Date.today.beginning_of_month, Date.today.end_of_month) %>">
        <div class="text-2xl font-semibold mb-1">
          <%= date.day %>
        </div>
        <div class="hidden sm:flex sm:flex-grow sm:flex-col sm:space-y-1 sm:overflow-hidden">
          <% quests.each do |quest| %>
            <% list_color = List.find(quest.list_id).color rescue '#808080' %>
            <div class="text-xl truncate rounded overflow-hidden">
              <div style="background-color: <%= list_color %>;" class="p-1">
                <div class="text-white truncate hover:opacity-80 transition-opacity">
                  <%= quest.title %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>