<!DOCTYPE html>
<html>
<head>
  <title>YourApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  <div class="container-fluid">
    <%= render "shared/sidebar"%>
    <div class="p-4 sm:ml-64">
      <%= yield %>
    </div>
  </div>
</body>
</html>
